  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0;
    overflow: hidden; 
    overflow-x: hidden;
  }
  
  /* text styling */
  .plus-jakarta-sans {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  .smallText {
    position: relative; 
    color: #fff;
    font-family: "Plus Jakarta Sans";
    font-size: 0.875rem;
    font-weight: 600;
    padding-top: 2%;
  }
  
  /*header styling*/
  .header-box {
    position: fixed; 
    width: 100vw;
    height: 15vh;
    background: #ffffff00;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 0 5vw; 
    position: fixed;
    top: 0;
    z-index: 10;
  }
  
  .horizontal-scroll {
    display: flex;
    height: 100vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  section {
    scroll-snap-align: start;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leftText {
    display: flex; 
    align-items: center; 
  }
  
  .rightText {
    display: flex; 
    gap: 1.04vw; 
    align-items: center;
  }

  /* Dropdown Button */
.dropbtn {
    background-color: #ffffff00;
    color: #FFF;
    border: none;
    padding: 0;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fe0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 20;
    pointer-events: auto; 
  }


  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #fe0;}
  
 
/*title image page*/
  .largeText {
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.08rem;
    transition: color 0.2s ease;
  }
  
  .largeText:hover {
    color: #fe0;
  }

  .playlistTitle-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5vw;
    width: 100vw;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
  }

  .page-home {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
    width: 100vw;
    scroll-snap-align: start;
    flex: 0 0 100%;
}

.faye1-img, .faye2-img {
    width: 100%;
    overflow-y: hidden;
    object-fit: cover;
    object-position: top;
    position: relative;
    height: 100%;
    z-index: -1;
  }
  
  .horizontal-scroll {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
/*name page*/
.page-2 {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
    width: 100vw;
    scroll-snap-align: start;
    flex: 0 0 100%;
  }

.name-container {
    display: flex;
    flex-direction: row;
    padding: 0 5vw;
    width: 100vw;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 50%; 
    transform: translateY(-50%);
}
.nameText {
    color: #fff;
    font-family: "Plus Jakarta Sans";
    font-size: 9rem;
    font-weight: 700;
    line-height: normal;
    transition: color 0.2s ease;
    z-index: 10;
  }
  
  
  .nameText:hover {
    color: #fe0;
  }

/*playlist page*/
.page-3 {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
    width: 100vw;
    scroll-snap-align: start;
    flex: 0 0 100%;
}


.playlist-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  padding: 20vw;
  display: flex;
  position: absolute;
  top: 55%; 
  transform: translateY(-50%);
}

.playlistText {
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5625rem;
    letter-spacing: 0.02rem;
    
}
  
.sec1 {
    flex: 1 1 22vw; 
    min-width: 22vw;
    text-align: left;
}

.sec2 {
    flex: 1 1 22vw; 
    min-width: 22vw;
    text-align: right;
}

.faye3-img {
    width: 100%;
    overflow-y: hidden;
    object-fit: cover;
    position: relative;
    height: 100%;
    z-index: -1;
}

/*question page*/
.notes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
    position: relative;
    background-image: url('../entry-10/assets/blur4.jpg');

}

.ans {
    max-width: 30%;
    height: auto;
    object-fit: contain;
    position: relative;
    z-index: 5;
}


/*media queries*/
 @media (max-width: 768px) {
    .playlist-container {
        flex-direction: column;
    }
 

    .sec1, .sec2, .sec3, .sec4 {
        margin-bottom: 0; 
        margin-left: 3vw;
    }

    .bottom-section {
        flex-direction: column;
    }

    .left-column,
    .right-column {
        min-width: 100%; /* Columns take full width on smaller screens */
        padding: 0;
    }

    .largeText {
        font-size: 2.5rem;
    }

    .playlist-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 830px) {
  .title-container {
    flex-direction: column;
  }

}

@media (max-width: 640px) {
  .largeText {
    font-size: 8.125rem;
  }
}





  