* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  ::-webkit-scrollbar {
    width: 8px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #FE0; 
    border-radius: 4px; 
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  body {
    margin: 0;
    overflow-x: hidden; 
    background-color: #FE0;
    display: block;
  }
  
  /* text styling */
  .plus-jakarta-sans {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  .smallText {
    position: relative; 
    color: #000;
    font-family: "Plus Jakarta Sans";
    font-size: 0.875rem;
    font-weight: 600;
    padding-top: 2%;
  }
  
  /*header styling*/
  .header-box {
    position: relative; 
    width: 100vw;
    height: 15vh;
    background: #FFF;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 0 5vw; 
  }
  
  .leftText {
    display: flex; 
    align-items: center; 
  }
  
  .rightText {
    display: flex; 
    gap: 1.04vw; 
    align-items: center;
  }

  .largeText {
    color: #000;
    font-family: "Plus Jakarta Sans";
    font-size: 10rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    transition: color 0.2s ease;
  }

  .largeText:hover {
    color: #FFF;
  }

  .playlistText {
    color: #000;
    font-family: "Plus Jakarta Sans";
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: normal;
  }

  .nameText {
    color: #000;
    font-family: "Plus Jakarta Sans";
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    transition: color 0.2s ease;
  }

  .nameText:hover {
    color: #FFF;
  }

  /*title container*/
  .title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 0 3vw;
  }

  /*playlist section*/
  .playlist-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 0 3vw;
    padding-top: 10vh;
  }

  .sec1, .sec2, .sec3, .sec4 {
    flex: 1 1 22vw; 
    min-width: 22vw;
    margin-bottom: 5vh; 
}

  /*below section*/
  .bottom-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    padding: 5vw 5vh;
  }

  .left-column,
  .right-column {
    flex-grow: 1;
    padding: 0 2vw;
    min-width: 30vw;
  }


  .left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3vh;
  }

  .left-column img:nth-child(1) {
    margin-left: 5vw;
  }

  .left-column img:nth-child(2) {
    margin-left: 15vw;
  }

  .left-column img:nth-child(3) {
    margin-left: 5vw;
  }

  .right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
  }

  .scanned-text,
  .diego1,
  .diego2,
  .diego3 {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .diego1 {
    width: 20vw;
    height: 30vh;
    object-fit: cover;
  }

  .diego2 {
    width: 20vw;
    height: 40vh;
    object-fit: cover;
  }

  .diego3 {
    width: 20vw;
    height: auto;
    object-fit: cover;
  }


  /*scanned text*/
  .scanned-text {
    width: 40vw; 
    mix-blend-mode: multiply; 
    display: block;
  }

  /*media queries*/
  @media (max-width: 768px) {
    .playlist-container {
        flex-direction: column;
    }
 

    .sec1, .sec2, .sec3, .sec4 {
        margin-bottom: 0; 
        margin-left: 3vw;
    }

    .bottom-section {
        flex-direction: column;
    }

    .left-column,
    .right-column {
        min-width: 100%; /* Columns take full width on smaller screens */
        padding: 0;
    }
}

@media (max-width: 830px) {
  .title-container {
    flex-direction: column;
  }

}

@media (max-width: 640px) {
  .largeText {
    font-size: 8.125rem;
  }
}

/* Dropdown Button */
.dropbtn {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fe0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #fe0;}





