* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-thumb {
  background-color: #FE0; 
  border-radius: 4px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
}

body {
  margin: 0;
  overflow-x: hidden; 
}

/* text styling */
.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.smallText {
  position: relative; 
  color: #000;
  font-family: "Plus Jakarta Sans";
  font-size: 0.875rem;
  font-weight: 600;
  padding-top: 2%;
}

.bigText {
  font-family: "Plus Jakarta Sans";
  font-weight: 800;
  font-size: 6.25rem;
  color: rgb(0, 0, 0);
  line-height: normal;
  z-index: 100;
  transition: color 0.2s ease;
}

.bigText:hover {
  color: #FE0;
}

/*header styling*/
.header-box {
  position: relative; 
  width: 100vw;
  height: 15vh;
  background: #FFF;
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  padding: 0 5vw; 
}

.leftText {
  display: flex; 
  align-items: center; 
}

.rightText {
  display: flex; 
  gap: 1.04vw; 
  align-items: center;
}

.name-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  height: auto;
  padding: 0 5vw;
  margin-top: 1.5vh;
  margin-bottom: 5vh;
}


/*photo styling*/
.pauline-top-photo {
  position: relative;
  width: 100vw;
  height: 40vh; 
  margin: 0;
  padding: 0;
  overflow: hidden;
  object-fit: cover; 
  object-position: center; 

}

.question-1-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  padding: 0 5vw;
}

.q-1 {
  height: 32.61vh;
  object-fit: contain;
  object-position: left;
  filter: brightness(0.85) contrast(1.5);
}

.q-2 {
  height: 34.14vh;
  object-fit: contain;
  object-position: right;
  filter: brightness(0.85) contrast(1.5);
}

.q-3 {
  width: 60vw;
  height: 40.15vh;
  object-fit: contain;
  filter: brightness(0.85) contrast(1.5);
  padding-bottom: 5vh;
}


/*group photo*/
.friend-photos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 0;
  margin-left: 29vw;
  padding-top: 7vh;
  padding-bottom: 10vh;
  gap: 2vw
}

.sq1, .sq2, .sq3, .sq4 {
  width: 16.41vw;
  height: 33.43vh;
  object-fit: contain;
}

/* Dropdown Button */
.dropbtn {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fe0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #fe0;}
